* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* container general */
.container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* header */
.container .titulo {
    display: flex;
    gap: 10px;

}

.container .titulo h1 {
    font-size: 40px;

}
.container .imagentitulo {
    width: 3%;

}

/* nav bar */
nav {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #006600;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;

}

/* recetas */

.recipe {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

.recipe .recipe-header {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.recipe .recipe-header .iconos-header {
    align-items: center;
    display: flex;
}

.recipe .recipe-header .iconos-header img {
    display: flex;
    width: 35px;
    gap: 10px;
    
}

.recipe h2 {
    color: #009900;
    font-size: 20px;
    margin-bottom: 5px;
}

.recipe a:hover {
    color: orange;
}

.icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icons img {
    width: 35px;

}

.container a {
    color: #006600;
}


/* receta con imagen */

.receta-con-imagen {
    display: flex;
}

.receta-con-imagen .imagen-receta  img {
    width: 100px;
    display: flex;
}

.receta-con-imagen .descripcion-receta {
    display: block;
    margin-left: 1%;
}
